## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
original_vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
original_vacation_df.head(10)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Majene,ID,79.88,overcast clouds,-3.5403,118.9707,Kost Putri RABBANI
1,4,Kapaa,US,77.32,few clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
2,5,Bolobo,CD,83.89,light rain,-2.1667,16.2333,Hotel de Stephen
3,14,Atuona,PF,76.44,light rain,-9.8000,-139.0333,Hôtel Hiva Oa Hanakee Lodge
4,17,Potiskum,NG,85.48,light rain,11.7091,11.0694,Tamir Hotel Ltd
5,19,Morant Bay,JM,82.71,few clouds,17.8815,-76.4093,Whispering Bamboo Cove Resort
6,22,Sao Filipe,CV,78.01,scattered clouds,14.8961,-24.4956,Hotel Xaguate
7,28,La Asuncion,VE,82.42,overcast clouds,11.0333,-63.8628,Colinas de Matasiete
8,29,Hithadhoo,MV,82.72,overcast clouds,-0.6000,73.0833,Scoop Guest House
9,30,Agnibilekrou,CI,81.46,light rain,7.1344,-3.2047,"J'AIME ATTOBRO, (Mon Village)"

In [3]:
# Set the index to City_ID
vacation_df = original_vacation_df.set_index("City_ID")
vacation_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
City_ID,,,,,,,
0,Majene,ID,79.88,overcast clouds,-3.5403,118.9707,Kost Putri RABBANI
4,Kapaa,US,77.32,few clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
5,Bolobo,CD,83.89,light rain,-2.1667,16.2333,Hotel de Stephen
14,Atuona,PF,76.44,light rain,-9.8000,-139.0333,Hôtel Hiva Oa Hanakee Lodge
17,Potiskum,NG,85.48,light rain,11.7091,11.0694,Tamir Hotel Ltd
19,Morant Bay,JM,82.71,few clouds,17.8815,-76.4093,Whispering Bamboo Cove Resort
22,Sao Filipe,CV,78.01,scattered clouds,14.8961,-24.4956,Hotel Xaguate
28,La Asuncion,VE,82.42,overcast clouds,11.0333,-63.8628,Colinas de Matasiete
29,Hithadhoo,MV,82.72,overcast clouds,-0.6000,73.0833,Scoop Guest House
30,Agnibilekrou,CI,81.46,light rain,7.1344,-3.2047,"J'AIME ATTOBRO, (Mon Village)"

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [5]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Find how many cities are in the country
grouped_df = vacation_df.groupby('Country').count()
print(grouped_df)

         City  Max Temp  Current Description  Lat  Lng  Hotel Name
Country
AI          1         1                    1    1    1           1
AO          3         3                    3    3    3           3
AR          1         1                    1    1    1           1
AU          3         3                    3    3    3           3
AZ          2         2                    2    2    2           2
...       ...       ...                  ...  ...  ...         ...
UZ          1         1                    1    1    1           1
VE          2         2                    2    2    2           2
VN          5         5                    5    5    5           5
VU          2         2                    2    2    2           2
ZA          3         3                    3    3    3           3

[81 rows x 6 columns]

In [7]:
# Find countries with more than 4 cities
grouped_df = vacation_df.groupby('Country').count()
size = grouped_df['City'] >= 4
sorted_df = grouped_df[size].sort_values('City', ascending=True)
print(sorted_df)

         City  Max Temp  Current Description  Lat  Lng  Hotel Name
Country
ES          4         4                    4    4    4           4
MX          4         4                    4    4    4           4
KZ          5         5                    5    5    5           5
MY          5         5                    5    5    5           5
RU          5         5                    5    5    5           5
VN          5         5                    5    5    5           5
JP          6         6                    6    6    6           6
PT          6         6                    6    6    6           6
PG          7         7                    7    7    7           7
PH          7         7                    7    7    7           7
US         12        12                   12   12   12          12
CN         13        13                   13   13   13          13
BR         16        16                   16   16   16          16
IN         16        16                   16   16   16          16
ID         21        21                   21   21   21          21

In [8]:
# Find cities listed in country code "ES"
cond = (vacation_df["Country"].isin(["ES"]))
vacation_df.loc[cond]

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
City_ID,,,,,,,
87,Muros,ES,82.09,overcast clouds,42.7762,-9.0603,Apartment Av. Castelao
352,Palma,ES,84.06,few clouds,39.5694,2.6502,Hotel Saratoga
370,Bereda,ES,82.42,overcast clouds,43.2686,-7.5406,Pazo de Verdes
647,Barcelona,ES,82.15,few clouds,41.3888,2.1590,Axel Hotel Barcelona

In [9]:
# Verify the results
result = vacation_df.loc[87, 'Hotel Name']
print(result)

Apartment Av. Castelao

In [10]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[352]
vacation_end = vacation_df.loc[352]
vacation_stop1 = vacation_df.loc[647]
vacation_stop2 = vacation_df.loc[87] 
vacation_stop3 = vacation_df.loc[370]

In [11]:
# Find the series for concat problem below
vacation_stop3.to_numpy()

array(['Bereda', 'ES', 82.42, 'overcast clouds', 43.2686, -7.5406,
       'Pazo de Verdes'], dtype=object)

In [12]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
import numpy as np

a = vacation_start.to_numpy()
b = vacation_end.to_numpy()
c = vacation_stop1.to_numpy()
d = vacation_stop2.to_numpy()
e = vacation_stop3.to_numpy()

start_lat = np.array(a)[4]
start_lng = np.array(a)[5]
end_lat = np.array(b)[4]
end_lng = np.array(b)[5]
stop1_lat = np.array(c)[4]
stop1_lng = np.array(c)[5]
stop2_lat = np.array(d)[4]
stop2_lng = np.array(d)[5]
stop3_lat = np.array(e)[4]
stop3_lng = np.array(e)[5]

start = (start_lat,start_lng)
end = (end_lat,end_lng)
stop1 = (stop1_lat,stop1_lng)
stop2 = (stop2_lat,stop2_lng)
stop3 = (stop3_lat,stop3_lng)

print ("Start point is",start, 
       "End point is",end,
       "Stop 1 is",stop1, 
       "Stop 2 is",stop2, 
       "Stop 3 is",stop3)

Start point is (39.5694, 2.6502) End point is (39.5694, 2.6502) Stop 1 is (41.3888, 2.159) Stop 2 is (42.7762, -9.0603) Stop 3 is (43.2686, -7.5406)

In [13]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

# Latitude-longitude pairs
Palma = start
Barcelona = stop1
Bereda = stop2
Muros = stop3

fig = gmaps.figure()
round_trip = gmaps.directions_layer(
        Palma, Palma, waypoints=[Barcelona, Bereda, Muros],
        travel_mode='DRIVING')
fig.add_layer(round_trip)
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.

data1 = pd.DataFrame([['Palma', 'ES', 84.06, 'few clouds', 39.5694, 2.6502,'Hotel Saratoga']],
                    columns=['City', 'Country', 'Max Temp', 'Current Description', 'Lat', 'Lng', 'Hotel Name'])
data2 = pd.DataFrame([['Barcelona', 'ES', 82.15, 'few clouds', 41.3888, 2.159,'Axel Hotel Barcelona']],
                    columns=['City', 'Country', 'Max Temp', 'Current Description', 'Lat', 'Lng', 'Hotel Name'])
data3 = pd.DataFrame([['Muros', 'ES', 82.09, 'overcast clouds', 42.7762, -9.0603,'Apartment Av. Castelao']],
                    columns=['City', 'Country', 'Max Temp', 'Current Description', 'Lat', 'Lng', 'Hotel Name'])
data4 = pd.DataFrame([['Bereda', 'ES', 82.42, 'overcast clouds', 43.2686, -7.5406,'Pazo de Verdes']],
                    columns=['City', 'Country', 'Max Temp', 'Current Description', 'Lat', 'Lng', 'Hotel Name'])

print('After merging:')
itinerary_df = pd.concat([data1, data2, data3, data4], ignore_index=True)
itinerary_df

After merging:

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Palma,ES,84.06,few clouds,39.5694,2.6502,Hotel Saratoga
1,Barcelona,ES,82.15,few clouds,41.3888,2.1590,Axel Hotel Barcelona
2,Muros,ES,82.09,overcast clouds,42.7762,-9.0603,Apartment Av. Castelao
3,Bereda,ES,82.42,overcast clouds,43.2686,-7.5406,Pazo de Verdes

In [15]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [16]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))